<table style='width=100%; cellpadding=0; cellspacing=0; border=0'>
	<td style='width=50%; vertical-align:center;'>
		<strong>Top Customers!</strong>
		<table>
		<thead>
			<th><%= "Name" %></th>
			<th><%= "Revenue" %></th>
			<th><%= "Cost" %></th>
			<th><%= "Margin" %></th>
			<th><%= "%"%></th>
			<th><%= "Minutes" %></th>
			<th><%= "Number of Calls" %></th>
			<th><%= "ACD" %></th>
			<th><%= "ASR" %></th>
		</thead>
		<tbody>
	
		<% @selected_customers.each do |row| %>
		  <tr>
			<td><%= link_to "#{row[:name]}", :id => "#{row[:id]}", :name => "#{row[:name]}", :action => "customerInfo" %></td>
			<td><%= "$" %><%= row[:revenue].to_f.round(2) %></td>
			<td><%= "$" %><%=  row[:cost].to_f.round(2) %></td>
			<td><%= "$" %><%= row[:margin].to_f.round(2) %></td>
			<% per = (row[:margin]/row[:revenue] * 100).to_f.round(2) %>
			<% if per >= 0 %>
				<td><%= per.to_s + "%"%></td>
			<% else %>
				<td><%= "N/A" %></td>
			<% end %>
			<td><%=  ("#{row[:minutes]}").to_i %></td>
			<td><%= "#{row[:num_calls]}" %></td>
			<% arr = (row[:minutes].to_f/row[:num_calls].to_f).to_s.split('.') %>
			<td><%= arr[0] + ":" + (arr[1][0..1].to_i*6/10).to_s %></td>
			<td><%= "#{row[:asr]}%" %></td>
		  </tr>
		<% end %>
		<tr style='background-color:#D71920; border:solid 1px;'>
			<td><%= "Total:" %></td>
			<td><%= "$ " %><%= @total_revenue_customers.round(1) %></td>
			<td><%= "$ " %><%= @total_cost_customers.round(1) %></td>
			<td><%= "$ " %><%= (@total_revenue_customers-@total_cost_customers).round(1) %></td>
			<td></td>
			<td><%= @total_minutes_customers.to_f.round(0) %></td>
			<td><%= @total_calls_customers %></td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	</td>
	<td style='width=50%; vertical-align:top;'>
		<strong>Top Resellers!</strong>
		<table style='width=100%; cellpadding=0; cellspacing=0; border=0'>
			<thead>
				<th><%= "Name" %></th>
				<th><%= "Revenue" %></th>
				<th><%= "Cost" %></th>
				<th><%= "Margin" %></th>
				<th><%= "%" %></th>
				<th><%= "Minutes" %></th>
				<th><%= "Number of Calls" %></th>
				<th><%= "ACD" %></th>
				<th><%= "ASR" %></th>
			</thead>
			<tbody>
				<% @selected_resellers.each do |row| %>
				  <tr>
					<td><%= link_to "#{row[:name]}", :id => "#{row[:id]}", :name => "#{row[:name]}", :action => "resellerInfo" %></td>
					<td><%= "$" %><%= row[:revenue].to_f.round(2)%></td>
					<td><%= "$" %><%= row[:cost].to_f.round(2) %></td>
					<td><%= "$" %><%= row[:margin].to_f.round(2) %></td>
					<td><%= "0 %"%></td>
					<td><%=  ("#{row[:minutes]}").to_i %></td>
					<td><%= "#{row[:num_calls]}" %></td>
					<% arr = (row[:minutes].to_f/row[:num_calls].to_f).to_s.split('.') %>
					<td><%= arr[0] + ":" + (arr[1][0..1].to_i*6/10).to_s %></td>
					<td><%= "#{row[:asr]}%" %></td>
				  </tr>
				<% end %>
				<tr style='background-color:#D71920; border:solid 1px;'>
					<td><%= "Total:" %></td>
					<td><%= "$ " %><%= @total_revenue_resellers.round(1) %></td>
					<td><%= "$ " %><%= @total_cost_resellers.round(1) %></td>
					<td><%= "$ " %><%= (@total_revenue_resellers-@total_cost_resellers).round(1) %></td>
					<td></td>
					<td><%= @total_minutes_resellers.to_f.round(0) %></td>
					<td><%= @total_calls_resellers %></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<strong>Top Carriers!</strong>

		<table style='width=100%; cellpadding=0; cellspacing=0; border=0'>
			<thead>
				<th><%= "Name" %></th>
				<th><%= "Revenue" %></th>
				<th><%= "Cost" %></th>
				<th><%= "Margin" %></th>
				<th><%= "%" %></th>
				<th><%= "Minutes" %></th>
				<th><%= "Number of Calls" %></th>
				<th><%= "ACD" %></th>
			</thead>
			<tbody>
				<% @selected_vendors.each do |row| %>
				  <tr>
					<td><%= link_to "#{row[:name]}", :id => "#{row[:id]}", :name => "#{row[:name]}", :action => "carrierInfo" %></td>
					<td><%= "$" %><%= row[:revenue].to_f.round(2) %></td>
					<td><%= "$" %><%=  row[:cost].to_f.round(2) %></td>
					<td><%= "$" %><%= row[:margin].to_f.round(2) %></td>
					<% per = (row[:margin]/row[:revenue] * 100).to_f.round(2) %>
					<% if per >= 0 %>
						<td><%= per.to_s + "%"%></td>
					<% else %>
						<td><%= "N/A" %></td>
					<% end %>
					<td><%=  ("#{row[:minutes]}").to_i %></td>
					<td><%= "#{row[:num_calls]}" %></td>
					<% arr = (row[:minutes].to_f/row[:num_calls].to_f).to_s.split('.') %>
					<td><%= arr[0] + ":" + (arr[1][0..1].to_i*6/10).to_s %></td>
				  </tr>
				<% end %>
				<tr style='background-color:#D71920; border:solid 1px;'>
					<td><%= "Total:" %></td>
					<td><%= "$ " %><%= @total_revenue_carriers.round(1) %></td>
					<td><%= "$ " %><%= @total_cost_carriers.round(1) %></td>
					<td><%= "$ " %><%= (@total_revenue_carriers-@total_cost_carriers).round(1) %></td>
					<td></td>
					<td><%= @total_minutes_carriers.to_f.round(0) %></td>
					<td><%= @total_calls_carriers %></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<strong>Top Traffic  (Last 7 days)!</strong>

		<table style='width=100%; cellpadding=0; cellspacing=0; border=0'>
			<thead>
				<th><%= "Calldate" %></th>
				<th><%= "Revenue" %></th>
				<th><%= "Cost" %></th>
				<th><%= "Margin" %></th>
				<th><%= "%" %></th>
				<th><%= "Minutes" %></th>
			</thead>
			<tbody>
				<% @week_traffic_refined.each do |row| %>
				  <tr>
				  	<td><%= row[:calldate] %></td>
				  	<td><%= "$" %><%= row[:revenue].to_f.round(2) %></td>
					<td><%= "$" %><%=  row[:cost].to_f.round(2) %></td>
					<td><%= "$" %><%= row[:margin].to_f.round(2) %></td>
					<% per = 0#(row[:margin]/row[:revenue] * 100).to_f.round(2) %>
					<% if per >= 0 %>
						<td><%= per.to_s + "%"%></td>
					<% else %>
						<td><%= "N/A" %></td>
					<% end %>
					<td><%=  ("#{row[:minutes]}").to_i %></td>
				  </tr>
				<% end %>
			</tbody>
		</table>
	</td>
</table>