<div id="inner_table_wrapper", align="center">
	<%= form_tag(:action => 'topCarriers') do %>
		<%= label_tag "from" %>
		<%= date_select("viewFrom", "from", :default => Time.now, :order => [:day, :month, :year]) %>
		<%= label_tag "to" %>
		<%= date_select("viewTo", "to", :default => Time.now, :order => [:day, :month, :year])%>
		<input type="submit" class="styled-button-7" value="Filter" />
	<style type="text/css">
	.styled-button-7 {
		background:#F0F0F0;
		color:blue;
		font-family:'Helvetica Neue',sans-serif;
		font-size:13px;
		border-radius:2px;
	}
	</style>
	<% end %>
	<strong>Top Carriers!</strong>

	<table>
		<thead>
			<th><%= link_to "Name", :sort_by => "name", :action => "topCarriers" %></th>
			<th><%= link_to "Revenue", :sort_by => "revenue", :action => "topCarriers" %></th>
			<th><%= link_to "Cost", :sort_by => "cost", :action => "topCarriers" %></th>
			<th><%= link_to "Margin", :sort_by => "margin", :action => "topCarriers" %></th>
			<th><%= link_to "% Margin", :sort_by => "margin", :action => "topCarriers" %></th>
			<th><%= link_to "Minutes", :sort_by => "minutes", :action => "topCarriers" %></th>
			<th><%= "Number of Calls" %></th>
			<th><%= "ACD" %></th>
		</thead>
		<tbody>
			<% @selected.each do |row| %>
			  <tr>
				<td><%= link_to "#{row[:name]}", :id => "#{row[:id]}", :name => "#{row[:name]}", :action => "carrierInfo" %></td>
				<td><%= "$" %><%= row[:revenue].to_f.round(2) %></td>
				<td><%= "$" %><%=  row[:cost].to_f.round(2) %></td>
				<td><%= "$" %><%= row[:margin].to_f.round(2) %></td>
				<% per = (row[:margin]/row[:revenue] * 100).to_f.round(2) %>
				<% if per >= 0 %>
					<td><%= per.to_s + "%"%></td>
				<% else %>
					<td><%= "N/A" %></td>
				<% end %>
				<td><%=  ("#{row[:minutes]}").to_i %></td>
				<td><%= "#{row[:num_calls]}" %></td>
				<% arr = (row[:minutes].to_f/row[:num_calls].to_f).to_s.split('.') %>
				<td><%= arr[0] + ":" + (arr[1][0..1].to_i*6/10).to_s %></td>
			  </tr>
			<% end %>
			<tr style='background-color:#D71920; border:solid 1px;'>
				<td><%= "Total:" %></td>
				<td><%= "$ " %><%= @total_revenue.round(1) %></td>
				<td><%= "$ " %><%= @total_cost.round(1) %></td>
				<td><%= "$ " %><%= (@total_revenue-@total_cost).round(1) %></td>
				<td></td>
				<td><%= @total_minutes.to_f.round(0) %></td>
				<td><%= @total_calls %></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>