<div id="inner_table_wrapper", align="center">
	<%= form_tag(:action => 'topResellers') do %>
		<%= label_tag "from" %>
		<%= date_select("viewFrom", "from", :default => Time.now, :order => [:day, :month, :year]) %>
		<%= label_tag "to" %>
		<%= date_select("viewTo", "to", :default => Time.now, :order => [:day, :month, :year])%>
		<%= label_tag "Currency" %>
		<%= select_tag "curr", options_for_select(@reseller_curr, @currency) %>
		<input type="submit" class="styled-button-7" value="Filter" />
	<style type="text/css">
	.styled-button-7 {
		background:#F0F0F0;
		color:blue;
		font-family:'Helvetica Neue',sans-serif;
		font-size:13px;
		border-radius:2px;
	}
	</style>
	<% end %>

	<strong>Top Resellers!</strong>
	<table>
		<thead>
			<th><%= link_to "Name", :sort_by => "name", :action => "topResellers" %></th>
			<th><%= link_to "Revenue", :sort_by => "revenue", :action => "topResellers" %></th>
			<th><%= link_to "Cost", :sort_by => "cost", :action => "topResellers" %></th>
			<th><%= link_to "Margin", :sort_by => "margin", :action => "topResellers" %></th>
			<th><%= link_to "% Margin", :sort_by => "margin", :action => "topResellers" %></th>
			<th><%= link_to "Minutes", :sort_by => "minutes", :action => "topResellers" %></th>
			<th><%= "Number of Calls" %></th>
			<th><%= "ACD" %></th>
			<th><%= "ASR" %></th>
		</thead>
		<tbody>
			<% @reseller_curr.each do |curr| %>
				<% if @currency.eql?(curr) %>
					<% if @currency.eql?("Show all (USD)") %>
					  <% temp = "$" %>
					 <% else %>
					  <% temp = curr %>
					<% end %>
					<% @selected.each do |key, value| %>
					  <tr>
						<td><%= link_to "#{key}", :id => "#{value[6]}", :name => "#{key}", :action => "resellerInfo" %></td>
						<td><%= "#{temp} " %><%= value[0].to_f.round(2) %></td>
						<td><%= "#{temp} " %><%=  value[1].to_f.round(2) %></td>
						<td><%= "#{temp} " %><%= value[2].to_f.round(2) %></td>
						<% per = (value[2]/value[0] * 100).to_f.round(2) %>
						<% if per >= 0 %>
							<td><%=per.to_s + "%"%></td>
						<% else %>
							<td><%= "N/A" %></td>
						<% end %>
						<td><%=  ("#{value[3]}").to_i %></td>
						<td><%= "#{value[4]}" %></td>
						<% arr = (value[3].to_f/value[4].to_f).to_s.split('.') %>
						<td><%= arr[0] + ":" + (arr[1][0..1].to_i*6/10).to_s %></td>
						<td><%= "#{value[5]}%" %></td>
					  </tr>
					<% end %>
					<tr style='background-color:#D71920; border:solid 1px;'>
						<td><%= "Total:" %></td>
						<td><%= "$ " %><%= @total_revenue.round(1) %></td>
						<td><%= "$ " %><%= @total_cost.round(1) %></td>
						<td><%= "$ " %><%= (@total_revenue-@total_cost).round(1) %></td>
						<td></td>
						<td><%= @total_minutes.to_f.round(0) %></td>
						<td><%= @total_calls %></td>
						<td></td>
						<td></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>